<paper-toolbar>
  <div ui-sref="home">Application</div>
</paper-toolbar>
<div class="sidebar">
  <paper-menu>
    <paper-submenu>
      <paper-item class="menu-trigger">Topics</paper-item>
      <paper-menu class="menu-content" selected="0">
        <paper-item>Topic 1</paper-item>
        <paper-item>Topic 2</paper-item>
        <paper-item>Topic 3</paper-item>
      </paper-menu>
    </paper-submenu>
    <paper-submenu>
      <paper-item class="menu-trigger">Faves</paper-item>
      <paper-menu class="menu-content" selected="0">
        <paper-item>Fave 1</paper-item>
        <paper-item>Fave 2</paper-item>
      </paper-menu>
    </paper-submenu>
  </paper-menu>
</div>